#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
<input type="hidden"
       name="$customField.id"
       value="$!value" />
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)