<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="decorator" content="atl.admin">
        <title>Presentation</title>
        <style type="text/css">
                .forced-wrap {word-break:break-all}
        </style>
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-form-validation")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-inline-dialog2")
        $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-table-sortable")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-table-sortable")
        $webResourceManager.requireResource("com.sap.mango.jiraintegration:solman-core-resources")
        $webResourceManager.requireResource("com.sap.mango.jiraintegration:solman-issuemapping-resources")
        <context>atl.admin</context>
    </head>
    <body>
        <div id="aui-message-bar"></div>

        <header class="aui-page-header">
            <div class="aui-group" style="display: inline">
                <h3>Solman Selector</h3>
                <input type="text" style = "width: 600px" id="solman-connections-id" name="solman-connections" length="30" hidden="true"/>
            </div>
            <button id="dialog-show-button" class="aui-button">Copy Configuration</button>
        </header>

          <div class="aui-group">
                    <div class="aui-item">

                       <label for="projectMapping"><h4>Project Mapping</h4></label>

                       <form class="aui">
                         <div class="field-group">
                            <label for="solmanProjectID">SolMan Project ID</label>
                            <input class="text" type="text" id="solmanProjectID" data-aui-field data-aui-validate-required="required" name="solmanProjectID" title="SolMan Project ID">
                         </div>

                         <div class="field-group">
                            <label for="jiraProjectID">Jira Project Key</label>
                            <input type="text" id="jira-projects-id" name="jira-projects" length="90" hidden="true"/>
                         </div>
                       </form>
                       <div class="buttons-container">
                            <div class="buttons">
                                  <button class="aui-button aui-button-primary" id="saveInfo" onclick="spSaveSolmanProjectMapping();">Add/Update</button>
                            </div>
                       </div>

                        <div id="projectmapping-table-id-container">
                        </div>
                        <table id="projectmapping-table-id" class="aui aui-table-sortable">
                                  <thead>
                                      <tr>
                                          <th class="aui-table-column-issue-key">SolMan Project ID</th>
                                          <th class="aui-table-column-issue-key">Jira Project Key</th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                  </tbody>
                        </table>
                    </div>
                    <div class="aui-item">
                    </div>
               </div>


                <div class="aui-group">
                    <div class="aui-item">

                        <label for="issueTypeMapping"><h4>Issue Type Mapping</h4></label>

                        <form class="aui" id="issuetypemapping_form">
                            <div class="field-group">
                                <label for="solmanProcessType">SolMan Process Type</label>
                                <input class="text" type="text" id="solmanProcessType">
                            </div>

                            <div class="field-group">
                                <label for="jira-issue-type">Jira Issue Type</label>
                                <input type="text" id="jira-issue-type" name="jira-issue-type" length="90" hidden="true"/>
                            </div>
                        </form>
                        <div class="buttons-container">
                            <div class="buttons">
                                <button class="aui-button aui-button-primary" id="saveInfo" onclick="spSaveSolmanIssueTypeMapping();">Add/Update</button>
                            </div>
                        </div>

                        <div id="issuetypemapping-table-id-container">
                        </div>
                        <table id="issuetypemapping-table-id" class="aui aui-table-sortable">
                            <thead>
                            <tr>
                                <th class="aui-table-column-issue-key">SolMan Process Type</th>
                                <th class="aui-table-column-issue-key">Jira Issue Type</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="aui-item">
                    </div>
                </div>


               <div class="aui-group">
                                   <div class="aui-item">

                                      <label for="issueInboundStatus"><h4>Issue Inbound Status Mapping</h4></label>

                                      <form id="issueinboundstatus-id" class="aui">
                                        <div class="field-group">
                                           <label for="solmanProcessType">SolMan Process Type</label>
                                           <input class="text" type="text" id="solmanProcessType" data-aui-field data-aui-validate-required="required" name="solmanProcessType" title="SolMan Process Type">
                                        </div>

                                        <div class="field-group">
                                           <label for="jiraProjectID">SolMan Status</label>
                                           <input class="text" type="text" id="solmanStatus" data-aui-field data-aui-validate-required="required" name="jira-projects" length="90" title="SolMan Status"/>
                                        </div>

                                        <div class="field-group">
                                           <label for="jiraTransition">Jira Transition</label>
                                           <input class="text" type="text" id="jiraTransition" data-aui-field data-aui-validate-required="required" name="jiraTransition" length="90" title="Jira Transition"/>
                                        </div>
                                      </form>
                                      <div class="buttons-container">
                                           <div class="buttons">
                                                 <button class="aui-button aui-button-primary" id="saveInfo" onclick="spSaveSolmanIssueStatusMapping();">Add/Update</button>
                                           </div>
                                      </div>

                                       <div id="issuestatusmapping-table-id-container">
                                       </div>
                                       <table id="issuestatusmapping-table-id" class="aui aui-table-sortable">
                                                 <thead>
                                                     <tr>
                                                         <th class="aui-table-column-issue-key">SolMan Process Type</th>
                                                         <th class="aui-table-column-issue-key">SolMan Status</th>
                                                         <th class="aui-table-column-issue-key">Jira Transition</th>
                                                     </tr>
                                                 </thead>
                                                 <tbody>

                                                 </tbody>
                                       </table>
                                   </div>
                               <div class="aui-item">
                               </div>
                  </div>

                  <div class="aui-group">
                                  <div class="aui-item">

                                  <label for="issuePriorityMapping"><h4>Issue Priority Mapping</h4></label>

                                  <form id="prioritymapping-id" class="aui">
                                     <div class="field-group">
                                          <label for="solmanPriority">SolMan Priority</label>
                                          <input class="text" type="text" id="solmanPriority" data-aui-field data-aui-validate-required="required" name="solmanPriority" title="SolMan Priority">
                                     </div>

                                     <div class="field-group">
                                          <label for="jiraPriority">Jira Priority</label>
                                          <input class="text" type="text" id="jira-priorities-id" data-aui-field data-aui-validate-required="required" name="jiraPriority" length="90" title="Jira Priority"/>
                                     </div>

                                  </form>
                                     <div class="buttons-container">
                                          <div class="buttons">
                                           <button class="aui-button aui-button-primary" id="saveInfo" onclick="spSaveSolmanPriorityMapping();">Add/Update</button>
                                          </div>
                                     </div>

                                     <div id="prioritymappings-table-id-container">
                                     </div>
                                                         <table id="prioritymappings-table-id" class="aui aui-table-sortable">
                                                                   <thead>
                                                                       <tr>
                                                                           <th class="aui-table-column-issue-key">SolMan Priority</th>
                                                                           <th class="aui-table-column-issue-key">Jira Priority</th>
                                                                       </tr>
                                                                   </thead>
                                                                   <tbody>

                                                                   </tbody>
                                                         </table>
                                                     </div>
                                     <div class="aui-item">
                                     </div>
                  </div>

        <section role="dialog" id="copy-conf-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true"
                 style="width: 650px;">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Copy Configuration</h2>

                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>

            <div class="aui-dialog2-content">
                <div id="overwtite_warning" class="aui-message aui-message-warning">
                    <p class="title">
                        <strong>Warning!</strong>
                    </p>
                    <p>This will overwrite existing configuration.</p>
                </div>

                <div id="parameter_select">
                    <p>Copy Configuration from:</p>
                    <label id="source-cutomer-guid"></label>
                    <p/>
                    <p>to customer:</p>
                    <div class="aui-group">
                        <form class="aui">
                            <h3>Solman Selector</h3>    <input type="text" style = "width: 600px" id="solman-customer-id" name="solman-customer" length="30" hidden="true"/>
                        </form>
                    </div>
                </div>
            </div>

            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Copy</button>
                    <button id="dialog-close-button" class="aui-button aui-button-link">Cancel</button>
                </div>
                <div class="aui-dialog2-footer-hint"></div>
            </footer>
        </section>
    </body>
</html>